<html>
    <head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="fullPage">
        <div class="bar">
            <div class="barLeft">
                <div class="barLeft-1"><li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Coda Global
                    </a>
                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" >List1</a>
                      <a class="dropdown-item" >List1</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" >List1</a>
                    </div>-->
                </div> 
                <div class="barLeft-1">Edit</div>
            </div>
            <div class="barRight">
                <div class="barRight-1">Name</div>
                <div class="barRight-1">
                    <div class="icons"><button class="button"><i class="fas fa-info-circle fa-2x"></i></button></div>
                    <div  class="icons"><i class="fas fa-phone-alt fa-2x"></i></div></div>
            </div>
        </div>
    </div>
<!-- <app-i-button></app-i-button> -->
</body>

</html>
