<div class="content">
    <div class="header">
      <div class="convoName">{{name}}</div>
      <div class="convoOptions">
        <i class="fas fa-phone-alt" data-toggle="tooltip" data-placement="top" title="Call"></i>
        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Show conversation details"></i>
      </div>
    </div>
    <div class="conversation">{{name}}</div>
    <div class="input-box">
      <div class="message-box">
        <textarea class="message-input" type="text" placeholder="Message" ></textarea>
        <div class="message-box-options">
          <div class="font-options">
            <i class="fas fa-bold" data-toggle="tooltip" data-placement="top" title="Bold"></i>
            <i class="fas fa-italic" data-toggle="tooltip" data-placement="top" title="Italics"></i>
            <i class="fas fa-strikethrough" data-toggle="tooltip" data-placement="top" title="Strikethrough"></i>
            <i class="fas fa-code" data-toggle="tooltip" data-placement="top" title="Code"></i>
            <i class="fas fa-link" data-toggle="tooltip" data-placement="top" title="Link"></i>
            <i class="fas fa-list-ol" data-toggle="tooltip" data-placement="top" title="Ordered List"></i>
            <i class="fas fa-list-ul" data-toggle="tooltip" data-placement="top" title="Bullet List"></i>
            <i class="fas fa-quote-right" data-toggle="tooltip" data-placement="top" title="Block Quote"></i>
            <i class="fas fa-stream" data-toggle="tooltip" data-placement="top" title="Code Block"></i>
          </div>
          <div class="message-options">
            <i class="fas fa-font" data-toggle="tooltip" data-placement="top" title="Font"></i>
            <i class="fas fa-at" data-toggle="tooltip" data-placement="top" title="Mention"></i>
            <i class="far fa-smile-wink" data-toggle="tooltip" data-placement="top" title="Emoji"></i>
            <i class="fas fa-paperclip" data-toggle="tooltip" data-placement="top" title="Attachment"></i>
            <i class="fas fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Send"></i>
          </div>
        </div>
      </div>
    </div>
  </div>