.app{
    height: 100%;
    position: relative;
}
.flex{
    display: flex;
}
.slack-nav{
    height: 93vh;
    width: 4%;
    /* color: white; */
}

.menu{
    margin-left: 1px;
    height: 93vh;
    width: 20%;
    /* color: white; */
}

.content{
    margin-left: 1px;
    height: 93vh;
    width: 76%;
    padding: 10px;
}
.profile-options{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    top:9%;
    right:0;
    float: right;
    box-shadow: 0px 0px 10px black;
    width: 25%;
    padding: 20px;
    height: auto;
    margin-right: 10px;
}

.searchpopup{
    position:absolute;
    left:20%;
    top:0%;
    display: none;
}
