/* *{
    box-sizing: border-box;
    background-color: #1B1D21;
}
.nav{
    border-bottom: solid 1px white;
}
.head{
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
}
.app-main-component{
    width: 70%;
} */
.app{
    height: 100vh;
    position: relative;
}
.flex{
    display: flex;
}
.slack-nav{
    height: 92vh;
    width: 4%;
    background-color: rgb(20%, 1%, 20%);
    color: white;
}

.menu{
    margin-left: 1px;
    height: 92vh;
    width: 20%;
    background-color: rgb(20%, 1%, 20%);
    color: white;
}

.content{
    margin-left: 1px;
    height: 92vh;
    width: 76%;
    background-color: rgb(20%, 1%, 20%);
    color: white;
    padding: 10px;
}
.profile-options{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    top:9%;
    right:0;
    float: right;
    box-shadow: 0px 0px 10px black;
    width: 25%;
    padding: 20px;
    height: auto;
    margin-right: 10px;
}