<div class="app">
  <app-navbar [ngClass]=theme></app-navbar>
  <div class="flex">
    <div class="slack-nav" [ngClass]=theme>
      <app-first-sidebar></app-first-sidebar>
    </div>
    <div class="menu" [ngClass]=theme>
      <app-sidebar (updateChannel)="updateChannel($event)" (updateDM)="updateDM($event)" [channels]="data.channels" [directDM]="data.directMessages"></app-sidebar>
    </div>
    <div class="content" [ngClass]=theme>
      <!-- [class.bg-dark]="" -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-searchpopup class="searchpopup" id="searchpopup"></app-searchpopup>
</div>
