<div class="app">
  <app-navbar class="bg-dark"></app-navbar>
  <div class="flex">
    <div class="slack-nav bg-dark">
      <app-first-sidebar></app-first-sidebar>
    </div>
    <div class="menu bg-dark">
      <app-sidebar (updateChannel)="updateChannel($event)" (updateDM)="updateDM($event)" [channels]="data.channels" [directDM]="data.directMessages"></app-sidebar>
    </div>
    <div class="content bg-dark">
      <!-- [class.bg-dark]="" -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-searchpopup class="searchpopup" id="searchpopup"></app-searchpopup>
</div>
