<div class="sidebar">
   
    <div class="menu">
     <div class="image">
       <i class="far fa-comment-dots"></i>
     </div>Threads</div>
    <div class="menu">
     <div class="image">
       <i class="fas fa-comments"></i>
     </div>All DM's</div>
     <div class="menu"> 
       <div class="image">
       <i class="fas fa-at"></i>
     </div>
       Mentions and Reactions
     </div> 
     <div class="menu">
       <div class="image">
         <i class="far fa-bookmark"></i>
       </div>
       Saved Items</div> 
     <div class="menu">
       <div class="image">
         <i class="fas fa-ellipsis-v"></i>
       </div>
       More</div>   
     <div class="menu">
       <div (click)="showchannel()" class="image">
         <i class="fas fa-caret-down"></i>
       </div>Channels </div> 
          <div   class="sub-menu" *ngFor ="let channel of Channels">
            <div *ngIf="!value">
           <div class="image">
             <i class="fas fa-lock"></i>
           </div>
             <a routerLink="/main-component" name="{{channel.name}}">{{channel.name}}</a>
           </div>
         </div>
           <div class="sub-menu">
             <div class="image">
               <i class="fas fa-plus-circle"></i>
             </div>
             Add Channel
         </div>
    
     <div class="menu">
       <div (click)="showmessage()" class="image">
         <i class="fas fa-caret-down"></i>
       </div>Private Message </div> 
       <!-- <ng-template *ngIf="!value1"> -->
         <div  id="channel" class="sub-menu" *ngFor ="let direct of Direct">
           <!-- <div *ngIf="!value1"> -->
           <div class="image">
             <i class="fas fa-user"></i>
           </div>
            <a routerLink="/main-component">{{direct.name}}</a>
          </div>
          <!-- </ng-template> -->
         <!-- </div> -->
          <div class="sub-menu">
           <div class="image">
             <i class="fas fa-plus-circle"></i>
           </div>
              Add Team-mates
          </div>
       </div>