<div class="sidebar">

  <div class="menu">
    <div class="image">
      <i class="far fa-comment-dots"></i>
    </div>Threads
  </div>
  <div class="menu">
    <div class="image">
      <i class="fas fa-comments"></i>
    </div>All DM's
  </div>
  <div class="menu">
    <div class="image">
      <i class="fas fa-at"></i>
    </div>
    Mentions and Reactions
  </div>
  <div class="menu">
    <div class="image">
      <i class="far fa-bookmark"></i>
    </div>
    Saved Items
  </div>
  <div class="menu">
    <div class="image">
      <i class="fas fa-ellipsis-v"></i>
    </div>
    More
  </div>
  <div (click)="isChannelsVisible=!isChannelsVisible" class="menu">
    <div class="image">
      <i *ngIf="!isChannelsVisible" class="fas fa-caret-right"></i>
      <i *ngIf="isChannelsVisible" class="fas fa-caret-down"></i>
    </div>Channels
  </div>
  <div *ngIf="isChannelsVisible">
    <div class="sub-menu" *ngFor="let channel of channels" [routerLink]="['/main-component',channel.name]">
      <div *ngIf="channel.type=='public'" class="image">
        <i class="fas fa-hashtag"></i>
        
      </div>
      <div *ngIf="channel.type=='private'" class="image">
        <i class="fas fa-lock"></i>
      </div>
      <a >{{channel.name}}</a>
    </div>
  </div>
  <div (click)="open(content1)" class="sub-menu">
    <div class="image">
      <i class="fas fa-plus-circle"></i>
    </div>
    Add Channel
  </div>

  <div (click)="isDmVisible=!isDmVisible" class="menu">
    <div class="image">
      <i *ngIf="!isDmVisible" class="fas fa-caret-right"></i>
      <i *ngIf="isDmVisible" class="fas fa-caret-down"></i>
    </div>Private Message
  </div>
  <div *ngIf="isDmVisible">
    <div id="channel" [routerLink]="['/main-component',direct.name]" class="sub-menu" *ngFor="let direct of directDM">
      <div class="image">
        <i class="fas fa-user"></i>
      </div>
      <a>{{direct.name}}</a>
    </div>
  </div>
  <div (click)="open(content)" class="sub-menu">
    <div class="image">
      <i class="fas fa-plus-circle"></i>
    </div>
    Add Team-mates
  </div>
</div>



<!-- ---------------------------------------POPUP MODAL--------------------------------------- -->
<!-- ---------------------------------------Channel Creation--------------------------------------- -->
​
<ng-template #content1 let-modal>
  <div class="mod container popup">
    <div class="modal-header">
      <h4 class="modal-title">Create Channel</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
      <form [formGroup]="channelForm" (ngSubmit)="addTochannel()">
      <input type="text" required class="form-control form-input" placeholder="Channel name" formControlName="channel">
      <select class="form-control form-input" required formControlName="type">
        <option value="public">public</option>
        <option value="private">private</option>
      </select>
      <button class="btn btn-primary"  [disabled]="channelForm.invalid">Add Channel</button>
     </form>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>
<!-- ---------------------------------------New DM conversation--------------------------------------- -->
<ng-template #content let-modal >
  <div class="mod container popup">
    <div class="modal-header">
      <h4 class="modal-title">Start a Conversation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
      <form [formGroup]="directForm" (ngSubmit)="addTodirect()">
      <input type="text" required class="form-control form-input" placeholder="Team Mate Name" formControlName="name">
      <button class="btn btn-primary"  [disabled]="directForm.invalid">Start conversation</button>
     </form>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>