*{
    box-sizing:border-box;
}
.searchpopup{
    height:400px;
    width:800px;
    background-color:rgb(26,30,34);
    display:flex;
    flex-direction: column;
    margin-left: 30px;
}
.searchbar{
    border-bottom:solid;
    border-width:1px;
    border-color: white;
    height:10%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.textarea{
    margin-top:5px;
    height:80%;
    width:80%;
    background-color: rgb(26,30,34);
    border-width:0px;
}
.icon{
    color:white;
    padding:10px;
}
.searchoptions{
    position:relative;
    height:90%;
    width:100%;
}
.availableoptions{
    position:relative;
    left:5%;
    height:20%;
    width:100%;
    display:flex;
    flex-direction: row;
}
.menu{
    height:30px;
    width:120px;
    margin:10px;
    background-color:rgb(69, 72, 73);
    display:flex;
    flex-direction:row;
    color: white;
    text-align: center;
    justify-content:center;
    
}
.menuicon{
    position:relative;
    top:-7px;
}
.menuname{
    position:relative;
    top:2px;
}
.menu:hover{
    background-color:rgb(29,155,209);
}
.recentsearches{
    position:relative;
    height:65%;
    width:100%;
    display:flex;
    flex-direction: column;
}
.recentbox{
    position: relative;
    height:20%;
    width:100%;
    display:flex;
    flex-direction: row;
}
.recentelements{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    position:absolute;
    left:5%;
}
.searchedname{
    position: relative;
    top:18%;
}
.recentbox:hover{
    background-color: rgb(29,155,209);
}
.text{
    color:white;
}
.heading{
    position: relative;;
    left:5%;
}
.footer{
    height:10%;
    width:100%;
    background-color: rgb(34,38,41);
    float:inline-end;
}
.additionalinfo{
    position: relative;
    top:20%;
    display: none;
}
.searchedname:hover + .additionalinfo{
    display: block;
}