<div class="profile">
    <div class="profile-one flex-coloumn">
        <div class="flex-row">
            <i class="fas fa-user-circle fa-3x"></i>
            <div class="flex-coloumn">
                <p>{{name}}</p>
                <p><i class="fas fa-circle green fa-1x"></i>Active</p>
            </div>
        </div>
        <button class="profile-status">Update Your Status</button>
    </div>
    <div class="profile-option">Set yourself as away</div>
    <div class="profile-option">Pause notifications</div>
    <hr>
    <div class="profile-two">
        <div class="profile-option">Edit profile</div>
        <div class="profile-option">View profile</div>
        <div class="profile-option">Prefrerences</div>
    </div>
    <hr>
    <div class="profile-three">
        <div class="profile-option">Downloads</div>
    </div>
    <hr>
    <div class="profile-option">Sign Out</div>
</div>